body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px
}

.page-title {
    text-align: center;
    color: #ffc32b;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.page-description {
    color: #bbb;
    font-style: italic;
    text-align: center;
    max-width: 700px;
    margin: 40px auto 40px auto;
    line-height: 1.6;
    font-size: 1rem;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 40px;
    border: 1px solid #444;
}

table {
    border-collapse: collapse;
    width: 100%;
    min-width: 850px;
}

th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

td:first-child {
    text-align: left;
    font-weight: bold;
}

th {
    background-color: #1a1a1a;
    font-weight: bold;
}

.table-title {
    font-size: 1.2em;
    padding: 15px;
    letter-spacing: 2px;
    background-color: #333;
}

.centered-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    gap: 40px;
}

.nothing-text {
    text-align: center;
    color: #ffc32b;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
}

.nothing-description {
    color: #bbb;
    font-style: italic;
    font-size: 1rem;
    margin: 0;
    max-width: 80%
}
